/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*

  Mixins:

  .clearfix();
  .center-block(@width: 1000px);
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/
body {
  background: #fbd800 url(i/bg.png) repeat-x;
}
body a:hover {
  text-decoration: none;
}
aside {
  float: left;
  background: #f2f2f2;
  width: 299px;
  padding: 0 6px 10px;
  font: 16px/31px 'Trebuchet MS';
}
aside a {
  color: #000;
  text-decoration: none;
}
aside ul {
  text-transform: uppercase;
}
aside ul li {
  border: 1px solid #e2e2e2;
  border-width: 1px 0;
  border-top-color: #fff;
  padding: 4px 0;
  position: relative;
}
aside ul li.bf {
  border-bottom-color: #f2f2f2;
}
aside ul li.af {
  border-top-color: #f2f2f2;
}
aside ul li i.s {
  width: 10px;
  height: 11px;
  background: url(i/str.png);
  position: absolute;
  top: 9px;
  right: 10px;
  display: none;
}
aside ul li i.l,
aside ul li i.r {
  width: 12px;
  height: 46px;
  display: block;
  position: absolute;
  top: 0;
  display: none;
}
aside ul li i.l {
  left: -12px;
  background: url(i/left_menu.png);
}
aside ul li i.r {
  right: -12px;
  background: url(i/right_menu.png);
}
aside ul li.active {
  background: #e67817;
  padding: 0 6px;
  margin: 4px -6px;
  border-color: #f2f2f2;
}
aside ul li.active a {
  color: #fff;
  text-shadow: 1px 1px 0px #a14b00;
}
aside ul li.active i {
  display: block;
}
aside ul li:first-child {
  border-width: 0 0 1px;
}
aside ul li:last-child {
  border-width: 1px 0 0;
}
aside ul li a {
  display: block;
  padding: 0 7px;
}
.main {
  float: right;
  width: 585px;
  display: none;
}
.main.active {
  display: block;
}
.main p {
  font: italic 14px 'Trebuchet MS';
  margin-bottom: 15px;
}
.main p a {
  color: #e67817;
  text-decoration: none;
  border-bottom: 1px dotted #e67817;
}
.main p a:hover {
  border: none;
}
.main h2 {
  font: 24px 'Trebuchet MS';
  text-transform: uppercase;
  margin: 0 0 10px;
}
.main table {
  width: 100%;
  border: 1px solid #dadada;
  font: 16px 'Trebuchet MS';
  margin: 0 0 15px;
  border-width: 0 1px 1px 0;
}
.main table td,
.main table th {
  border: 1px solid #dadada;
  border-width: 1px 0 0 1px;
  padding: 0 20px;
  text-align: left;
  vertical-align: middle;
  height: 50px;
}
.main table th {
  background: #ececec;
  height: 40px;
}
.main table img {
  vertical-align: middle;
}
.main table td:nth-child(2),
.main table th:nth-child(2) {
  text-align: center;
}
.main table td:last-child {
  text-align: center;
  width: 160px;
}
.main table span.gray {
  font-size: 18px;
  color: #6c6c6c;
}
.main table.little {
  font: 12px 'Trebuchet MS';
}
.main table.little td,
.main table.little th {
  padding: 0 10px;
}
.main table.little td:nth-child(2),
.main table.little th:nth-child(2) {
  text-align: center;
}
.main table.little td:nth-child(3),
.main table.little th:nth-child(3) {
  text-align: center;
}
.main table.little td:nth-child(4),
.main table.little th:nth-child(4) {
  text-align: center;
}
.main table.little td:nth-child(5),
.main table.little th:nth-child(5) {
  text-align: center;
}
.main table.little td:nth-child(6),
.main table.little th:nth-child(6) {
  text-align: center;
}
.main table.little td:last-child {
  text-align: center;
  width: 80px;
}
.main table.little td:last-child img {
  width: 80px;
}
.copyright {
  text-align: center;
  color: #000;
  font-size: 10px;
  padding: 15px 0;
  font-family: 'Myriad Pro';
}
footer {
  background: url(i/map.png);
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  padding: 60px 25px 0;
  height: 332px;
  position: relative;
  font: 18px/24px 'Myriad Pro';
}
footer h4 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 40px;
}
footer h5 {
  text-transform: uppercase;
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 20px;
}
footer p {
  margin-bottom: 30px;
}
footer h6 {
  font-style: italic;
  margin-bottom: 10px;
}
footer strong {
  padding-left: 30px;
  font-size: 20px;
}
footer .addr {
  width: 300px;
  margin-left: 20px;
  display: none;
}
footer .addr.show {
  display: block;
}
footer a.point {
  position: absolute;
  width: 15px;
  height: 19px;
  top: 0px;
  right: 0px;
  background: url(i/pointer.png);
}
footer a.point.pointer_1 {
  top: 103px;
  right: 300px;
}
footer a.point.pointer_2 {
  top: 147px;
  right: 120px;
}
footer a.point.pointer_3 {
  top: 216px;
  right: 282px;
}
footer a.point.pointer_4 {
  top: 241px;
  right: 61px;
}
footer a.point.pointer_5 {
  top: 262px;
  right: 290px;
}
footer a.point.pointer_6 {
  top: 319px;
  right: 452px;
}
footer a.point.hide {
  display: none;
}
footer a.point_big {
  position: absolute;
  width: 24px;
  height: 30px;
  top: 0px;
  right: 0px;
  display: none;
  background: url(i/pointer_big.png);
}
footer a.point_big.active {
  display: block;
}
footer a.point_big.pointer_1_big {
  top: 92px;
  right: 296px;
}
footer a.point_big.pointer_2_big {
  top: 137px;
  right: 116px;
}
footer a.point_big.pointer_3_big {
  top: 206px;
  right: 278px;
}
footer a.point_big.pointer_4_big {
  top: 231px;
  right: 57px;
}
footer a.point_big.pointer_5_big {
  top: 252px;
  right: 285px;
}
footer a.point_big.pointer_6_big {
  top: 309px;
  right: 447px;
}
section.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  background: #fff;
  padding: 34px 25px 0;
}
section.wrapper .text {
  background: url(i/text.png);
  margin: 25px -25px 0;
  padding: 30px 25px 10px;
  font: 16px/22px 'Trebuchet MS';
}
section.wrapper .text p {
  margin: 0 0 15px;
}
section.wrapper .text strong {
  text-transform: uppercase;
  font-size: 24px;
}
section.wrapper .text big {
  font-size: 18px;
}
section.pdf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  text-align: right;
  font: italic 20px/20px 'Trebuchet MS';
  padding: 30px 0 25px;
}
section.pdf a {
  color: #000;
}
section.pdf img {
  display: inline-block;
  vertical-align: -8px;
  margin: 0 3px 0 0;
}
section.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 958px;
  font: 14px/16px "Trebuchet MS";
}
section.images .image {
  float: left;
  width: 310px;
  margin: 0 0 0 14px;
  position: relative;
}
section.images .image:nth-child(1) {
  margin: 0;
}
section.images .text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 48px;
  color: #fff;
  padding: 10px 15px;
}
section.images img {
  display: block;
}
header {
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 107px;
  margin-bottom: 24px;
}
header a.logo {
  float: left;
  margin: 16px 0 0 0;
}
header .address {
  float: left;
  width: 400px;
  border: 1px dotted #5c5c5c;
  border-width: 0 1px;
  font: 14px/14px 'Trebuchet MS';
  text-transform: uppercase;
  margin: 20px 0 0 4px;
  padding: 0 0 0 25px;
}
header .address .addr {
  width: 140px;
  float: left;
  margin: 0 0 10px;
}
header .address .addr:nth-child(n+4) {
  margin: 0;
}
header .address .addr:nth-child(3n) {
  width: 120px;
}
header .address label {
  display: block;
  color: #e67817;
}
header .work_time {
  float: right;
  width: 106px;
  padding: 0 0 0 64px;
  background: url(i/24-7.png) 0 2px no-repeat;
  font: 15px/18px 'Trebuchet MS';
  margin: 27px 0 0;
}
