@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block(@width: 1000px);
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  

*/
  

body {
  background: #fbd800 url(i/bg.png) repeat-x;
  a:hover {text-decoration: none;}
}

aside {
  float: left;
  background: #f2f2f2;
  width: 299px;
  padding: 0 6px 10px;
  font: 16px/31px 'Trebuchet MS';
  a {color: #000;text-decoration: none;}
  ul {
    text-transform: uppercase;
    li {
      border: 1px solid #e2e2e2;
      border-width: 1px 0;
      border-top-color: #fff;
      padding: 4px 0;
      position: relative;
      &.bf {border-bottom-color: #f2f2f2;}
      &.af {border-top-color: #f2f2f2;}
      i.s {
        width: 10px;
        height: 11px;
        background: url(i/str.png);
        position: absolute;
        top: 9px;
        right: 10px;
        display: none;
      }
      i.l, i.r {
        width: 12px;
        height: 46px;
        display: block;
        position: absolute;
        top: 0;
        display: none;
      }
      i.l {left: -12px;background: url(i/left_menu.png);}
      i.r {right: -12px;background: url(i/right_menu.png);}
      &.active {
        background: #e67817;
        padding: 0 6px;
        margin: 4px -6px;
        border-color: #f2f2f2;
        a {color: #fff;text-shadow: 1px 1px 0px #a14b00;}
        i {display: block;}
      }
      &:first-child {border-width: 0 0 1px;}
      &:last-child {border-width: 1px 0 0;}
      a {display: block;padding: 0 7px;}
    }
  }
}

.main {
  float: right;
  width: 585px;
  display: none;
  &.active {display: block;}
  p {
    font: italic 14px 'Trebuchet MS';
    margin-bottom: 15px;
    a {
      color: #e67817;
      text-decoration: none;
      border-bottom: 1px dotted #e67817;
      &:hover {border: none;}
    }
  }
  h2 {
    font: 24px 'Trebuchet MS';
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  table {
    width: 100%;
    border: 1px solid #dadada;
    font: 16px 'Trebuchet MS';
    margin: 0 0 15px;
    border-width: 0 1px 1px 0;
    td, th {
      border: 1px solid #dadada;
      border-width: 1px 0 0 1px;
      padding: 0 20px;
      text-align: left;
      vertical-align: middle;
      height: 50px;
    }
    th {
      background: #ececec;
      height: 40px;
    }
    img {vertical-align: middle;}
    td:nth-child(2), th:nth-child(2) {text-align: center;}
    td:last-child {text-align: center;width: 160px;}
    span.gray {font-size: 18px;color: #6c6c6c;}
  }
  table.little {
    font: 12px 'Trebuchet MS';
    td, th {
      padding: 0 10px;
    }
    td:nth-child(2), th:nth-child(2) {text-align: center;}
    td:nth-child(3), th:nth-child(3) {text-align: center;}
    td:nth-child(4), th:nth-child(4) {text-align: center;}
    td:nth-child(5), th:nth-child(5) {text-align: center;}
    td:nth-child(6), th:nth-child(6) {text-align: center;}
    td:last-child {text-align: center;width: 80px;img {width: 80px;}}
  }
}

.copyright {
  text-align: center;
  color: #000;
  font-size: 10px;
  padding: 15px 0;
  font-family: 'Myriad Pro';
  
}

footer {
  background: url(i/map.png);
  color: #fff;
  .center-block(930px);
  padding: 60px 25px 0;
  height: 332px;
  position: relative;
  font: 18px/24px 'Myriad Pro';
  h4 {font-size: 24px;text-transform: uppercase;margin: 0 0 40px;}
  h5 {text-transform: uppercase;margin: 0 0 15px;font-weight: bold;font-size: 20px;}
  p {margin-bottom: 30px;}
  h6 {font-style: italic;margin-bottom: 10px;}
  strong {
    padding-left: 30px;font-size: 20px;
  }
  .addr {width: 300px;margin-left: 20px;display: none;&.show{display: block;}}
  a.point {
    position: absolute;
    width: 15px;
    height: 19px;
    top: 0px;
    right: 0px;
    background: url(i/pointer.png);
    &.pointer_1 {top: 103px;right: 300px;}
    &.pointer_2 {top: 147px;right: 120px;}
    &.pointer_3 {top: 216px;right: 282px;}
    &.pointer_4 {top: 241px;right: 61px;}
    &.pointer_5 {top: 262px;right: 290px;}
    &.pointer_6 {top: 319px;right: 452px;}
    &.hide {display: none;}
  }
  a.point_big {
    position: absolute;
    width: 24px;
    height: 30px;
    top: 0px;
    right: 0px;
    display: none;
    background: url(i/pointer_big.png);
    &.active {display: block;}
    &.pointer_1_big {top: 92px;right: 296px;}
    &.pointer_2_big {top: 137px;right: 116px;}
    &.pointer_3_big {top: 206px;right: 278px;}
    &.pointer_4_big {top: 231px;right: 57px;}
    &.pointer_5_big {top: 252px;right: 285px;}
    &.pointer_6_big {top: 309px;right: 447px;}
  }
}

section.wrapper {
  .center-block(930px);
  background: #fff;
  padding: 34px 25px 0;
  .text {
    background: url(i/text.png);
    margin: 25px -25px 0;
    padding: 30px 25px 10px;
    font: 16px/22px 'Trebuchet MS';
    p {
      margin: 0 0 15px;
    }
    strong {
      text-transform: uppercase;
      font-size: 24px;
    }
    big {
      font-size: 18px;
    }
  }
}

section.pdf {
  .center-block(930px);
  text-align: right;
  font: italic 20px/20px 'Trebuchet MS';
  padding: 30px 0 25px;
  a {color: #000;}
  img {display: inline-block;vertical-align: -8px;margin: 0 3px 0 0;}
}

section.images {
  .center-block(958px);
  font: 14px/16px "Trebuchet MS";
  .image {float: left;width: 310px;margin: 0 0 0 14px;position: relative;&:nth-child(1) {margin: 0;}}
  .text {position: absolute;bottom: 0; left: 0;background: rgba(0, 0, 0, 0.5);height: 48px;color: #fff;padding: 10px 15px;}
  img {display: block;}
}

header {
  color: #fff;
  .center-block(960px);
  height: 107px;
  margin-bottom: 24px;
  a.logo {
    float: left;
    margin: 16px 0 0 0;
  }
  .address {
    float: left;
    width: 400px;
    border: 1px dotted #5c5c5c;
    border-width: 0 1px;
    font: 14px/14px 'Trebuchet MS';
    text-transform: uppercase;
    margin: 20px 0 0 4px;
    padding: 0 0 0 25px;
    .addr {
      width: 140px;float: left;margin: 0 0 10px;
      &:nth-child(n+4) {margin: 0;}
      &:nth-child(3n) {width: 120px;}
    }
    label {display: block;color: #e67817;}
  }
  .work_time {
    float: right;
    width: 106px;
    padding: 0 0 0 64px;
    background: url(i/24-7.png) 0 2px no-repeat;
    font: 15px/18px 'Trebuchet MS';
    margin: 27px 0 0;
  }
}