/ @include 'kit/head.kit'

%header 
  %a.logo{:href => ""} 
    %img{:src => "i/logo.png", :alt => ""} 
  .address
    .addr
      %label Запад
      (903) 158 32 60
    .addr 
      %label Север
      (495) 229 36 36
    .addr 
      %label Юго-Восток
      (925) 529 91 13
    .addr 
      %label Восток
      (926) 627 46 42
    .addr 
      %label Юго-запад (1)
      (926) 022 32 28
    .addr 
      %label Юго-запад (2)
      (495) 567 46 47
  .work_time
    Работаем круглосуточно без выходных!
  .clear
    
%section.images 
  .image 
    .text Производим любые марки товарного бетона и строительного раствора.
    %img{:src => "i/img1.png", :alt => ""}
  .image 
    .text Предоставляем сертификаты качества и технический паспорт на каждую партию товаров.
    %img{:src => "i/img2.png", :alt => ""} 
  .image 
    .text Осуществляем доставку до объектов авто-бетоносмесителями.
    %img{:src => "i/img3.png", :alt => ""} 
  .clear

%section.pdf 
  %img{:src => "i/pdf.png", :alt => ""} 
  %a{:href => ""} 
    Скачать прайс
    
%section.wrapper 
  %aside 
    %ul 
      %li.active 
        %a{:href => "#c1"} 
          БЕТОН
          %i.l 
          %i.r
          %i.s
      %li.af 
        %a{:href => "#c2"} 
          КЕРАМЗИТБЕТОН
          %i.l 
          %i.r
          %i.s
      %li 
        %a{:href => "#c3"} 
          РАСТВОРЫ
          %i.l 
          %i.r
          %i.s
      /%li 
      /  %a{:href => "#c4"} 
      /    ЩЕБЕНЬ, ПЕСОК
      /    %i.l 
      /    %i.r
      /    %i.s
      /%li 
      /  %a{:href => "#c5"} 
      /    ЦЕМЕНТ
      /    %i.l 
      /    %i.r
      /    %i.s
      %li 
        %a{:href => "#c6"} 
          АВТОБЕТОНОНАСОСЫ
          %i.l 
          %i.r
          %i.s
      %li 
        %a{:href => "#c7"} 
          пескобетон 
          %i.l 
          %i.r 
          %i.s 
      %li 
        %a{:href => "#c9"}
          щебень, песок
          %i.l 
          %i.r 
          %i.s 
      /%li 
      /  %a{:href => "#c7"} 
      /    ФУНДАМЕНТАЛЬНЫЕ БЛОКИ (ФБС)
      /    %i.l 
      /    %i.r
      /    %i.s
      /%li 
      /  %a{:href => "#c8"} 
      /    ТРОТУАРНАЯ ПЛИТКА, БОРДЮРЫ
      /    %i.l 
      /    %i.r
      /    %i.s
  .main.c.active#c1
    %h2 Бетон
    %table.little
      %tr 
        %th МАРКА БЕТОНА 
        %th На гравии  П3,П4
        %th На граните  П3,П4
        %th МПД-5&deg;С
        %th ПМД-10&deg;С 
        %th ПМД-15&deg;С
        %th 
      %tr 
        %td  М100 В-7,5F100W4
        %td
          %span.gray 3275.00
          руб.
        %td
          %span.gray 3375.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М150 В-10 F100W4
        %td
          %span.gray 3350.00
          руб.
        %td
          %span.gray 3450.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М200  В-15F150W6
        %td
          %span.gray 3590.00
          руб.
        %td
          %span.gray 3690.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М250 В-20F150W6
        %td
          %span.gray 3750.00
          руб.
        %td
          %span.gray 3850.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М300 В-22.5F200W6
        %td
          %span.gray 3820.00
          руб.
        %td
          %span.gray 3920.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М350 В-25F200W8
        %td
          %span.gray 3965.00
          руб.
        %td
          %span.gray 4065.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М400 В-30F200W8
        %td
          %span.gray 4175.00
          руб.
        %td
          %span.gray 4275.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М450 В-35F200W8
        %td ------
        %td 
          %span.gray 4430.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td 
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М550 В-40F200W8
        %td ------
        %td 
          %span.gray 4600.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td 
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М600 В-45F300W12
        %td ------
        %td 
          %span.gray 4770.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М700 В-50F300W14
        %td ------
        %td 
          %span.gray 4855.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td  М800 В-60F300W20
        %td ------
        %td 
          %span.gray 5655.00
          руб.
        %td
          %span.gray 130.00
          руб.
        %td
          %span.gray 170.00
          руб.
        %td 
          %span.gray 230.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c2
    %h2 Керамзитбетон
    %table 
      %tr 
        %td М100
        %td 
          %span.gray 4500.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М150
        %td 
          %span.gray 4575.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200
        %td 
          %span.gray 4655.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c3
    %h2 Раствор кладочный
    %table 
      %tr 
        %th Марка
        %th цена за 1 м3
        %th 
      %tr 
        %td М100
        %td 
          %span.gray 3150.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""} 
      %tr 
        %td М150
        %td 
          %span.gray 3320.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200
        %td 
          %span.gray 3580.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c4
  .main.c#c5
  .main.c#c6
    %h2 Автобетононасосы
    %table 
      %tr 
        %td 36 метров погонных  смена 8 часов
        %td 
          %span.gray 20000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 43 метров погонных смена 8 часов
        %td 
          %span.gray 30500.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 46 метров погонных смена 8 часов
        %td
          %span.gray 32000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td 52 метров погонных смена 8 часов
        %td
          %span.gray 42000.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td Пусковая смесь
        %td 
          %span.gray 1500.00
          руб.
        %td 
      %tr 
        %td Перестановка насоса
        %td 
          %span.gray 1500.00
          руб.
        %td 
      %tr 
        %td Дополнительные трубы, шланги
        %td 
          %span.gray 500.00
          руб.
        %td 
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c7
    %h2 Пескобетон
    %table 
      %tr 
        %td М100 В-7,5
        %td 
          %span.gray 3010.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М150-00 В-10
        %td 
          %span.gray 3160.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М200 В-15
        %td 
          %span.gray 3305.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М250 В20
        %td 
          %span.gray 3495.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
      %tr 
        %td М300 В-22,5
        %td 
          %span.gray 3670.00
          руб.
        %td 
          %a{:href => ""} 
            %img{:src => "i/order.png", :alt => ""}
    %p 
      %a{:href => ""} Рассчитать стоимость доставки
  .main.c#c8
  .main.c#c9
  .clear
  .text 
    %p 
      %strong 
        ооо «АЛНСТРОЙ» 
      одно из крупнейших предприятий Москвы, стабильно работающее на строительном рынке.
    %p Наша компания основой своей деятельности позиционирует поставку товарного бетона и раствора в пределах Москвы и МКАД. Бетон поставляется в специальных бетоносмесителях собственной производственной базы. Мы продаем только сертифицированный бетон, качество изготовления контролируется ГОСТами. 
    %p 
      %big У нас есть собственная лаборатория контроля качества!

%footer 
  %a.point.pointer_1.hide{:href => "#a1"} 
  %a.point_big.pointer_1_big.active{:href => "#a1"} 
  %a.point.pointer_2{:href => "#a2"} 
  %a.point_big.pointer_2_big{:href => "#a2"}
  %a.point.pointer_3{:href => "#a3"} 
  %a.point_big.pointer_3_big{:href => "#a3"}
  %a.point.pointer_4{:href => "#a4"} 
  %a.point_big.pointer_4_big{:href => "#a4"}
  %a.point.pointer_5{:href => "#a5"} 
  %a.point_big.pointer_5_big{:href => "#a5"}
  %a.point.pointer_6{:href => "#a6"} 
  %a.point_big.pointer_6_big{:href => "#a6"}
  %h4 Наши Заводы:
  .addr.show#a1
    %h5 СЕВЕР
    %p Московская обл., г. Химки, Красногорский район, Путилковское ш., вл. 1 
    %h6 Телефоны:
    %p 
      Офис:
      %strong (495) 229 36 36
      %br 
      Завод:
      %strong (495) 978 24 01
      %br 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %strong (901) 517 24 01
  .addr#a2
    %h5 ЮГО-ВОСТОК
    %p 
      Московская обл, г. Балашиха, 
      Западная промзона, ш. Энтузиастов, д.4
    %h6 Телефоны:
    %p 
      %strong (968) 864 46 64
      %br 
      %strong (925) 529 91 13
  .addr#a3 
    %h5 ЗАПАД
    %p г. Москва, Генерала Дорохова ул., д. 16-А
    %h6 Телефон:
    %p 
      %strong (903) 158 32 60
  .addr#a4 
    %p 
      Московская обл., Раменский р-н, 
      пос. Родники.
    %h6 Телефоны:
    %p 
      %strong (495) 567 46 47
      %br 
      %strong (926) 627 46 42
  .addr#a5 
    %h5 ЮГО-ЗАПАД (1)
    %p г. Москва, Ленинский район,      дер. Саларьево
    %h6 Телефоны:
    %p 
      %strong (495) 424 64 28
      %br 
      %strong (925) 585 65 35
  .addr#a6
    %h5 ЮГО-ЗАПАД (2)
    %p 
      Московская обл., Наро-Фоминский р-н, 
      вблизи с. Петровское, участок №6
    %h6 Телефоны:
    %p 
      %strong (926) 022 32 28
      %br 
      %strong (926) 022 32 31
      
%section.copyright 
  Copyright © 2013

/ @include 'kit/foot.kit'